.topnav {
	background-color: SteelBlue;
	overflow: hidden;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}

h2 {
	color: #40ff2fc4;
}

h1 {
	font-weight: 500;
}

#a1 {
	padding-left: 6cm;
	padding-top: 5cm;
}

#a2 {
	color: rgb(39, 216, 128);
}

#s1 {
	font-weight: 500;
	padding-left: 5cm;
	padding-top: 5cm;
}

#rh {
	padding-left: 5cm;
}

#g1 {
	text-align: left;
	width: 30%;
}

#r1 {
	color: rgb(39, 216, 128);
	padding-left: 15cm;
	font-weight: 500;
}

img {
	padding-top: 15px;
	height: 35px;
	width: 35px;
}

#f1 {
	text-align: left;
	width: 10%;
}

#p1 {
	text-align: right;
	padding-right: 30;
	width: 10%;
}

#m1 {
	color: grey;
	padding-left: 5cm;
	font-weight: 500;
}

#o1 {
	font-weight: bold;
}

#l1 {
	padding-left: 5cm;
	padding-top: 1.5cm;
}

#p1 {
	
}

body {
	margin: 2%;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.page-title {
	font-size: 170%;
	font-weight: bold;
	padding-left: 17px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.footer {
	background-color: SteelBlue;
	overflow: hidden;
	padding: 14px 16px;
	font-size: 17px;
	color: #f2f2f2;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav div {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
}

.home {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

table {
	margin-top: 15px;
	width: 80%;
}

th, td {
	padding: 5px;
	text-align: left;
	word-spacing: 100%;
}

.button {
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	margin-top: 15px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.success-button {
	background-color: SteelBlue;
}

.message {
	margin-top: 15px;
	color: #8c8c8c;
	font-size: 20px;
}

.success-message {
	margin-top: 15px;
	color: green;
	font-size: 20px;
	text-align: center;
}

.text-box {
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.text-box-title {
	width: 100%;
}

.text-name {
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.body-content-colour {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.form-field-spacing {
	margin-right: 3cm;
	display: inline-block;
	box-sizing: border-box;
	padding-left: 5cm;
	width: 100%
}

.form-field-spacing2 {
	margin-right: 1px;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 1cm;
	padding-left: 5cm;
	width: 25%;
}

.currency {
	text-align: right;
}

.total {
	font-weight: bold;
	text-align: left;
}

.noti1 {
	color: rgb(39, 216, 128);	
	text-align: center;

}

.radio {
	margin: 16px 0;
}

.dropdown {
	margin: 10px 0;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	height: 40px;
	border-radius: 4px;
}